@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Gowun+Dodum&family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Nanum+Gothic+Coding:wght@400;700&family=Nanum+Gothic:wght@400;700;800&family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR:wght@200..900&family=Orbit&family=Song+Myung&display=swap');

*{margin:0; padding:0;
    /* -ms-overflow-style: none; */

    /* font-family: "IBM Plex Sans KR", sans-serif; */
    /* font-family: "Nanum Gothic Coding", system-ui; */
    /* font-family: "Noto Serif KR", system-ui; */
    /* font-family: "Noto Serif KR", serif; */
    /* font-family: "Nanum Gothic", system-ui; */
    /* font-family: "Gowun Batang", system-ui; */
    /* font-family: "Nanum Gothic Coding", monospace; */
    /* font-family: "Nanum Myeongjo", serif; */
    /* font-family: "Gowun Dodum", system-ui; */
    /* font-family: "Song Myung", system-ui; */
    /* font-family: "Orbit", system-ui; */

}
/* ::-webkit-scrollbar {
    display: none;
} */

a{
    text-decoration: none;
    color:black;
}
a:visited{
    text-decoration: none;
}


#section-line{
    width:80%;
    height:0.2vh;
    background: linear-gradient(to right, whitesmoke, darkgray 50%, whitesmoke);
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin :10vh auto 2vh auto;
}

.section-text{
    font-size: 4rem;
    font-weight: bold;
    width:30%;
    text-align: right;
    color:darkslategrey;
    text-shadow: 0px 0px 5px rgba(109, 109, 109, 0.9);
    margin: 0 0 5vh 0;
}
