header{
    width:100vw;
    height:8vh;
    background-color: whitesmoke;
    position: fixed;
    top:0;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.9);
    display: flex;
    justify-content:space-around;
    align-items: center;
    transition: background-color 1s ease;
    z-index:1;
}

header.scrolled{
    background-color: darkslategrey;
}

header p{
    color:rgb(0,0,0,0.8);
    font-weight: bold;
    font-size:0.7 rem;
    font-family: "Nanum Myeongjo", serif;
}
header.scrolled p{
    color:white;
}
header.scrolled a{
    color:white;
}

#tophead {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;
}

header div.header-box{
    width:10%;
    height:100%;
}
header div.header-box img{
    height:80%;
    margin-top:5%;
    float:right;
}

header nav{
    width:40%;
    height:100%;
    display: flex;
    justify-content: space-around;
}
header nav ul{
    width:100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header nav ul li a{
    color:black;
    letter-spacing:0.2rem;
    transition: color 0.5s ease;
}

header a:hover{
    color:orange;
    font-weight: bold;
}


#home{
    width:99vw;
    height:90vh;
    margin:0 auto;
    background-image: linear-gradient(
        to bottom,
        rgba(0,0,0,8),
        rgba(0,0,0,0.5)),
        url("../images/background4.webp");
    background-size: cover;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    align-items: center;
}

#home span{
    font-size: 5rem;
    color:white;
    font-weight: bold;
    text-align: center;
}


#blinkEffect{
    font-size: 4rem;
    border-right: 0.5rem solid white;
    animation: blink 0.7s steps(1) infinite;
}


@keyframes blink {
    50%{border-right-color: transparent;}
}
