#projects {
    width: 100%;
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(6, 6, 6, 0.5)), url("../images/background6.webp");
    background-size: cover;
    /* background-color: darkslategray;
    padding: 10vh 14.5vw 10vh 14.5vw; */
}

#projects div.project-container {
    background-color: whitesmoke;
    width: 30%;
    height: 20vw;
    margin: 2vw;
    border-radius: 3%;
    box-shadow: 0px 0px 10px 5px rgba(67, 66, 66, 0.67);
    padding:1rem;
    background-image: linear-gradient(rgba(250, 250, 250, 0.9), rgba(250, 250, 250, 0.9)), url("../images/background1.webp");
    background-size: cover;
    overflow: hidden;
}


#projects table{
    width:80%;
    border-spacing: 3vw;
}
#projects table td{
    text-align: left;
    vertical-align: top;
    /* border: 2px solid gray; */
    border-radius: 3%;
    padding:2vw 2vw 60px 2vw;
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px 1px wheat;
    position: relative;

}


#project-detail{
    width:80%;
    position: absolute;
    bottom:25px;
}
#project-detail p{
    font-size:0.9rem;font-weight:300; color:rgba(0,0,0,0.7);
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
}


#project-detail a{
    color:white;
    letter-spacing: 3px;
    font-weight: bold;
    font-size:0.7rem;
    padding:5px 10px;
    border-radius:5px 5px 5px 5px;
    margin-right:10px;
}

#project-detail a.readme{
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.2s background-color ease;
}
#project-detail a.colab{
    background-color: rgba(255, 111, 0, 0.8);
    transition: 0.2s background-color ease;
}

#project-detail a.pdf{
    background-color: rgba(255, 0, 0, 0.8);
    transition: 0.2s background-color ease;
}

#project-detail a:hover{
    cursor: pointer;
    background-color: rgba(94, 0, 115, 0.9);
}