#about{
    width:50%;
    height:50vh;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
}

#about div.image-container{
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5vw 0 0;
}

#about div.image-container img{
    height:70%;
}
#markdown-about{
    display: flex;
    flex-direction: column;
    align-items: center;
}